.button {
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #835afd;
    color: #fff;
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
        margin-right: 1rem;
    }

    &:not(:disabled):hover {
        filter: brightness(90%);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.outlined {
        background-color: transparent;
        border: 1px solid #835afd;
        color: #835afd;
    }

    &.outlined:hover {
        background-color: #835afd;
        color: #fff;
    }
}
