.question {
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);
    padding: 24px;

    p {
        color: #666;
    }

    & + .question {
        margin-top: 8px;
    }

    &.highlighted {
        background-color: #f4f0ff;
        border: 1px solid #835afd;
    }

    &.answered {
        background-color: #dbdcdd;
        border: none;

        footer .user-info img {
            filter: grayscale(100%);
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            > span {
                margin-left: 8px;
                color: #737380;
                font-weight: 500;
                font-size: 14px;
            }
        }

        div {
            display: flex;
            gap: 16px;
        }

        button {
            background: transparent;
            border: 0;
            cursor: pointer;
            gap: 8px;

            transition: filter 0.2s;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: #737380;

                span {
                    font-size: 14px;
                }

                &.liked {
                    color: #835afd;

                    svg path {
                        stroke: #835afd;
                    }
                }
            }

            &:hover {
                filter: brightness(0.5);
            }
        }
    }
}
